vendor
__pycache__
node_modules
exports
assets/webfonts
assets/imgs/covers/
assets/css/purged-main.css
assets/css/dataTables*
assets/js/dataTables*
assets/js/jquery*
_data/cssCacheToken.yml
_data/content_downloads.json
_drafts/_content
_site
.trash
.obsidian
.bundle
.sass-cache
.jekyll-cache
.gcache
.jekyll-metadata
.ruby-version
.Rhistory
*.swp
