vendor
__pycache__
node_modules
assets/webfonts
assets/css/purged-main.css
_data/cssCacheToken.yml
_drafts/_content
_site
.trash
.obsidian
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.ruby-version
*.swp
