---
title: Highlights
section: library
permalink: /library/highlights
image: https://illeakyw.sirv.com/Images/banners/Kyoto-temple.jpg
big_image: https://upload.wikimedia.org/wikipedia/commons/3/3d/Nanzen-ji%2C_a_Zen_Buddhist_temple%2C_and_its_surroundings%2C_Kyoto%3B_November_2016_%2801%29.jpg
image_width: 1280
image_center_y: 53%
image_center_x: 50%
image_height: 853
banner_info: <a href="https://commons.wikimedia.org/wiki/File:Nanzen-ji,_a_Zen_Buddhist_temple,_and_its_surroundings,_Kyoto;_November_2016_(01).jpg">雷太</a>, <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>
---

<h4>Content published in:</h4>

{% capture year %}{{ 'now' | date: "%Y" }}{% endcapture %}
{% assign thisyear = site.content | where: "year", year | where_exp: "c", "c.status != 'featured'" %}
{% assign featurecontent = "" | split: "" %}
{% assign fcon = site.content | where: "status", "featured" %}
{% for c in fcon %}
  {% include calculatestars.dat content=c %}
  {% assign yd = year | minus: c.year %}
  {% if yd >= 5 and stars < 5 %}
    {% continue %}
  {% endif %}
  {% assign featurecontent = featurecontent | push: c %}
{% endfor %}
{% assign courses = site.courses | map: "slug" %}
{% assign tags = site.tags | map: "slug" | concat: courses %}
{% for c in thisyear %}
  {% unless c.course %}{% continue %}{% endunless %}
  {% if tags contains c.course %}
    {% assign featurecontent = featurecontent | push: c %}
    {% continue %}
  {% endif %}
  {% for t in c.tags %}
    {% if tags contains t %}
      {% assign featurecontent = featurecontent | push: c %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign bests = featurecontent | where_exp: "c", "c.external_url or c.drive_links or c.file_links" | group_by: "year" | sort: "name" | reverse %}
{% for y in bests %}
<h2>{{ y.name }}</h2>
{% include featured_content_list.html contents=y.items sortkey="title" %}
{% endfor %}

