{%- assign c = include.content -%}
{%- assign authors = '' | split: '' -%}
{%- if c -%}
    {%- assign candidates = c.authors -%}
{%- else -%}
    {%- assign candidates = include.authors -%}
{%- endif -%}
{%- unless candidates -%}
    {%- assign candidates = '' | split: '' -%}
{%- endunless -%}
{%- if c.reader and include.hide_reader != true -%}
   {%- assign candidates = candidates | push: c.reader -%}
{%- endif -%}
{%- assign jointype = "sentence" -%}
{%- for a in candidates -%}
    {%- if a contains " " -%}
        {%- if a contains " and " -%}
             {%- assign jointype = "join" -%}
        {%- endif -%}
        {%- assign b = a -%}
    {%- else -%}
        {%- assign author = site.authors | find: "slug", a -%}
        {%- if author -%}{%- if include.link -%}
           {%- capture b -%}<a href="{{ author.url }}">{{ author.title }}</a>{%- endcapture -%}
          {%- else -%}
           {%- assign b = author.title -%}
          {%- endif -%}
        {%- else -%}
           {%- assign b = a -%}
        {%- endif -%}
    {%- endif -%}
    {%- assign authors = authors | push: b -%}
{%- endfor -%}
{%- if jointype == "sentence" -%}
{{ authors | array_to_sentence_string }}
{%- else -%}
{{ authors | join: ", " }}
{%- endif -%}
