{%- if include.course.feedback_id -%}
<div class="feedback">
    <h2 id="Feedback">Feedback</h2>
    <p>
        Congratulations on finishing the course!
    </p><p>
        Please take a moment to take
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSepNkP2avoYW2wVFFV8p2aCcA1Jy90dstuPwN3x62Ns00CS3Q/viewform?usp=pp_url&entry.893674714={{ include.course.feedback_id }}" ga-event-value="0.01" target="_blank">the end of class survey</a>.
        Your feedback is vital to making these courses good. Thank you!
    </p>
</div>
{%- endif -%}

{%- assign ctag = site.tags | find: "slug", include.course.slug -%}
{%- assign all_content = site.content | where_exp: "c", "c.status != 'rejected'" | where_exp: "c", "c.course" -%}
{%- capture furthercourses -%}
{%- assign floobar = nil -%}
{%- for course in site.courses include.course.next_courses -%}
    {%- assign ncindex = nil -%}
    {%- for ncslug in include.course.next_courses -%}
        {%- if ncslug == course.slug -%}
            {%- assign ncindex = forloop.index0 -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if ncindex -%}
    {%- unless floobar -%}
      <h2 id="further-courses">Advanced Courses</h2>
      {%- assign floobar = "already" -%}
    {%- endunless -%}
    <a class="nextcourselink" href="{{ course.url }}"><i class="{{ course.icon }}"></i><strong>{{ course.title }}</strong></a>
    <div class="nextcoursedesc">{{ include.course.next_course_descs[ncindex] }}</div>
  {%- endif -%}
  {%- assign all_content = all_content | where_exp: "c", "c.course != course.slug" -%}
{%- endfor -%}
{%- endcapture -%}
{%- unless ctag.is_canon -%}
{%- assign categories = site.data.content_categories -%}
{%- capture filter_exp -%}c.tags contains '{{ include.course.slug }}'{%- endcapture -%}
{%- assign all_series = site.series | where_exp: "c", filter_exp -%}
{%- assign all_content = all_content | where_exp: "c", filter_exp -%}
{%- if all_content.size > 0 -%}
<h2 id="further-reading">Further Reading</h2>
<p>To dive deeper into some of the aspects we've only touched on briefly in this course, here are some recommended...</p>
{% for catentry in categories %}
  {% assign category = site.categories | where: "slug", catentry %}
  {% if category.size == 1 %}
    {% assign category = category | first %}
    {% assign catslug = catentry %}
    {% assign tag_content = all_content | where: "category", catslug %}
    {% assign series_content = all_series | where: "category", catslug %}
  {% else %}
    {% assign catslug = catentry.title | slugify %}
    {% assign category = catentry %}
    {% assign tag_content = '' | split: '' %}
    {% assign series_content = '' | split: '' %}
    {% for catsub in catentry.subs %}
      {% assign tag_content = all_content | where: "category", catsub | concat: tag_content %}
      {% assign series_content = all_series | where: "category", catsub | concat: series_content %}
    {% endfor %}
  {% endif %}
  {%- assign tag_content = series_content | concat: tag_content -%}
  {%- if tag_content.size > 0 -%}
    <h4 id="further-{{ catslug }}">{{ category.title }}</h4>
    <div>{% include content_list.html contents=tag_content orderby="-expected_value" %}</div>
  {%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endunless -%}

{{ furthercourses }}
or feel free to check out any of <a href="/courses">our University's other fine offerings</a>.

