{% assign sorted = include.contents %}
{% unless include.keep_rejects %}
    {% assign sorted = sorted | where_exp: "c", "c.status != 'rejected'" %}
{% endunless %}
{% assign sorted = sorted | sort: "title" | reverse | sort: "expected_value", "first" | reverse %}
<div class="featured_content_list"><ul>
  {% for c in sorted %}
    <li class="featured_content_list_item">
      {% if c.olid %}<div class="ol-cover"><a href="{{ c.url }}">{{ c.title | markdownify | strip_html }}<img src="https://buddhistuniversity.net/assets/imgs/covers/{{ c.olid }}.jpg" alt="{{ c.title }}"></a></div>{% else %}
      <div class="content_title">{% capture foo %}{% include simple_content_title.html content=c %}{% endcapture %}{{ foo | strip_newlines }}</div>{% endif %}
      <div class="star_label">{% unless c.stars == 3 %}<span class="RatingLabel-{{ c.stars }}">{% include starlabel.html stars=c.stars %}</span>{% endunless %}</div>
      {% unless c.olid %}{% assign supex = false %}{% if c.external_url contains 'youtu' %}{% unless c.external_url contains "list" %}
        <a href="{{ c.url }}"><img src="https://img.youtube.com/vi/{{ c.external_url | ytid }}/0.jpg" alt="{{ c.title }} Video Thumbnail"></a>{% assign supex = true %}{% endunless %}{% endif %}
        {% unless supex %}<div class="content_desc">{{ c.excerpt }}</div>{% endunless %}
      {% endunless %}
      <div class="data-row"><div class="size-info">{% include content_size.html content=c %}</div>{% include content_filelinks.html content=c newtab=true %}</div>
    </li>
  {% endfor %}
</ul></div>

