<div class="content_box">
  <div class="content_box_header">
    {% capture foo %}{% include simple_content_title.html content=include.content %}{% endcapture %}{{ foo | strip_newlines }}
  </div>
  <div class="content_box_desc">{{ include.content.excerpt }}</div>
  {%- if include.content.course -%}
    {% assign course = site.courses | find: "slug", include.content.course %}
    {%- if course -%}
        <div class="course_link"><em>Featured in the course, "<a href="{{ course.url }}#{{ include.content.slug }}"><i style="font-style: italic;" class="{{ course.icon }}"></i> {{ course.title }}</a>"</em></div>
    {%- endif -%}
  {%- endif -%}
</div>
