{%- assign rawfile = nil -%}
{% if include.content.slug %}
    {% assign record = include.content %}
{% else %}
    {% assign record = site.content | where: "category", "av" | find: "slug", include.content %}
{% endif %}
{%- assign title = record.title | smartify | markdownify | strip_html | strip -%}
{% if record.file_links[0] and record.file_links[0] != "" %}
    {% comment %}No need to worry about CloudFlare hosted files here yet. Update if we ever host media files on R2{% endcomment %}
    {% assign rawfile = site.data.content.filehost | append: record.file_links[0] %}
    {% assign ext = rawfile | slice: -4,4 %}
{% elsif record.external_url and external_url_supports_xorigin_embeds %}
    {% comment %}
        Currently I don't know of any sites hosting files that allow them to be embedded
        If one comes up later, make sure their domain passes the above condition.
    {% endcomment %}
    {% assign ext = record.external_url | slice: -4,4 %}
    {% if ext == ".mp3" or ext == ".m4a" or ext == ".mp4" or ext == ".ogg" or ext == ".aac" %}
        {% assign rawfile = record.external_url %}
    {% endif %}
{%- endif -%}
{% comment %}keep the below in sync with _plugins/content-derived-fields.rb{% endcomment -%} 
{%- capture millisecperdol -%}{{ 60 | divided_by: 0.025 | divided_by: record.stars }}{%- endcapture -%}
{% if record.external_url contains "youtu" %}{% unless record.external_url contains "list" %}
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('ytplayer-{{ record.slug }}', {
      height: '390',
      width: '100%',
      videoId: '{{ record.external_url | ytid }}',
      playerVars: {
        'playsinline': 1,
        'modestbranding': 1,
        'enablejsapi': 1,{% if record.external_url contains "t=" %}
        'start': {% assign timestamp = record.external_url | split: "?" | last | split: "t=" | last | split: "&" | first %}{% assign minutes = 0 %}{% if timestamp contains "m" %}{% assign minutes = timestamp | split: "m" | first | times: 60 %}{% endif %}{% assign timestamp = timestamp | split: "m" | last | split: "s" | first %}{{ timestamp | plus: minutes  }},{% endif %}
        'widget_referrer': '{{ page.url | absolute_url }}'
      },
      events: {
        'onStateChange': onPlayerStateChange
      }
    });}
    function logWatchTime() {
        if (window.loggingInterval) extraTime += Date.now() - window.lastLogTime;
        window.lastLogTime = Date.now();
        let millidollars = extraTime/{{ millisecperdol }};
        if (millidollars > 0.5) {
            buggytrack.sendEvent('{{ record.content_path }}#'+Math.round(this.getCurrentTime()),'{{ title }}',Math.round(millidollars)/1000,['content','av{% if record.subcat %}/{{ record.subcat }}{% endif %}','{{ record.course | default: 'archive' }}',"{{ record.authors | join: ", " }}",'Embedded YouTube Video'],'youtu.be');
            extraTime = (millidollars - Math.round(millidollars))*{{ millisecperdol }};
        }
    }
    window.loggingInterval = null;
    var extraTime = 0;
    window.lastLogTime = Date.now();
    function onPlayerStateChange(event) {
        {%- if jekyll.environment == 'production' %}
        if (event.data == YT.PlayerState.PLAYING) {
          if (!window.loggingInterval) {
            window.lastLogTime = Date.now();
            window.loggingInterval = setInterval(logWatchTime.bind(event.target), 10000);
          }
        } else {
          if (window.loggingInterval) {
            clearInterval(window.loggingInterval);
            window.loggingInterval = null;
            extraTime += Date.now() - window.lastLogTime;
            window.lastLogTime = Date.now();
            setTimeout(logWatchTime.bind(event.target), 0);
          }
        }
        {%- else -%}
        console.log(event.data);
        {%- endif -%}
    }
</script>
<div id="ytplayer-{{ record.slug }}"></div>
{% endunless %}{% comment %}Now we have a YouTube Playlist :\{% endcomment %}
{% elsif rawfile %}
    {% assign tag = "audio" %}
    {% assign mime = "audio/mpeg" %}
    {% case ext %}
        {% when ".m4a" %}{% assign mime = "audio/x-m4a" %}
        {% when ".mp4" %}{% assign mime = "video/mp4" %}{% assign tag="video" %}
        {% when ".ogg" %}{% assign mime = "audio/ogg" %}
        {% when ".aac" %}{% assign mime = "audio/aac" %}
    {% endcase %}
<{{ tag }} controls
    id="{% capture tid %}{{ record.slug }}-inline-{{ tag }}-player{% endcapture %}{{ tid }}"
    preload="metadata"
    style="width: 98%; margin-left: 1%"
    crossorigin="anonymous"
    onplay="if(!localStorage.getItem('{{tid}}-start')){gtag('event', 'video_start',{% capture gtagdata %} {video_duration: this.duration, video_current_time: this.currentTime, video_percent: Math.round(100*this.currentTime/this.duration), visible: true, video_url: '{{ rawfile }}', video_provider: '{% assign r = rawfile | split: '/' %}{{ r[2] }}', video_title: {{ record.title | jsonify | replace: '"', "'" }}}{% endcapture %}{{ gtagdata }});localStorage.setItem('{{tid}}-start','1');}"
    onended="if(!localStorage.getItem('{{tid}}-end')){gtag('event', 'video_complete', {{ gtagdata }});localStorage.setItem('{{tid}}-end','1');}"
    ontimeupdate="Math.random()<0.00390625?gtag('event', 'video_progress', {{ gtagdata }}):undefined"
>
    <source src="{{ rawfile }}" type="{{ mime }}">
    Your browser doesn't support playing this audio/video file inline.
</{{ tag }}>
<script>
var setupInlineMedia = function() {
    const elem = document.getElementById('{{tid}}');
    var extraTime = 0;
    var previously = Date.now();
    var interval = null;
    function logTimeSpent() {
        if (interval){ extraTime += Date.now() - previously; }
        previously = Date.now();
        let millidollars = extraTime/{{ millisecperdol }};
        if (millidollars > 0.5) {
            buggytrack.sendEvent('{{ record.content_path }}#'+Math.round(elem.currentTime),'{{ title }}',Math.round(millidollars)/1000,['content','av{% if record.subcat %}/{{ record.subcat }}{% endif %}','{{ record.course | default: 'archive' }}','{{ record.authors | join: ", " | replace: "'", "\'" }}','Inline HTML5 {{ tag }} Player'],'buddhistuniversity.net');
            extraTime = (millidollars - Math.round(millidollars))*{{ millisecperdol }};
        }
    }
    function logStart(event){
        if(!interval) {
            previously = Date.now();
            interval = window.setInterval(logTimeSpent, 10000);
        }
    }
    function logPause(event){
        if (interval) {
            clearInterval(interval);
            interval = null;
            extraTime += Date.now() - previously;
            previously = Date.now();
            setTimeout(logTimeSpent, 0);
        }
    }
    elem.addEventListener('pause', logPause);
    elem.addEventListener('play', logStart);
};
setupInlineMedia();
</script>
{% elsif record.external_url contains "archive.org/details/" %}
<iframe src="{{ record.external_url | replace: "/details/", "/embed/" }}" width="100%" height="29" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
{% elsif record.embedded_html %}{{ record.embedded_html }}
{% elsif record.drive_links[0] %}
<iframe id="gdrive-player-{{ record.slug }}"
   frameborder="0"
   width="100%"
   style="margin:5px;max-width:350px"
   height="155"
   src="{{ record.drive_links[0] | replace: '/view?', '/preview?' }}">
</iframe>
{% elsif record.external_url %}
<iframe id="{{ record.slug }}"
   width="90%" height="400"
   src="{{ record.external_url }}">
</iframe>
{% else %}
<p><strong>Sorry.  This movie is unavailable.</strong></p>
{% endif %}

