{%- assign scores = '' | split: '' -%}
{%- assign similars = '' | split: '' -%}
{%- for i in (1..site.data.content.similar_count) -%}
    {%- assign similars = similars | push: 0 -%}
    {%- assign scores = scores | push: 0 -%}
{%- endfor -%}
{%- assign category = include.category -%}
{%- unless category -%}
    {%- assign category = site.categories | find: "slug", include.content.category -%}
{%- endunless -%}

{%- for candidate in site.content -%}
    {%- if candidate.status == "rejected" or candidate.path == include.content.path -%}{%- continue -%}{%- endif -%}
    {%- assign score = site.data.content.s_i -%}
    {%- assign denom = site.data.content.d_i -%}
    {%- if include.content.course -%}
      {%- if include.content.course == candidate.course -%}
        {%- assign score = score | plus: site.data.content.ccms -%}
      {%- endif -%}
      {%- if candidate.tags.size > 0 -%}
        {%- if candidate.tags contains include.content.course -%}
          {%- assign score = score | plus: site.data.content.ctms -%}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
    {%- if candidate.course -%}
      {%- assign denom = denom | plus: site.data.content.cdms -%}
      {%- if include.content.tags contains candidate.course -%}
        {%- assign score = score | plus: site.data.content.ctms -%}
      {%- endif -%}
    {%- endif -%}
    {%- if candidate.tags.size > 0 -%}
      {%- assign inc = candidate.tags.size | times: site.data.content.tdms -%}
      {%- assign denom = denom | plus: inc -%}
      {%- if include.content.tags.size > 0 -%}
        {%- for t in include.content.tags -%}
          {%- if candidate.tags contains t -%}
            {%- assign score = score | plus: site.data.content.ttms -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
    {%- if candidate.authors.size > 0 and include.content.authors.size > 0 -%}
      {%- assign inc = candidate.authors.size | times: site.data.content.adms -%}
      {%- assign denom = denom | plus: inc -%}
      {%- for a in include.content.authors -%}
        {%- if candidate.authors contains a -%}
          {%- assign score = score | plus: site.data.content.aams -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if include.content.category == candidate.category -%}
        {%- assign score = score | times: site.data.content.ccmm -%}
    {%- elsif category.similars contains candidate.category -%}
        {%- assign score = score | times: site.data.content.scmm -%}
    {%- endif -%}
    {%- if candidate.status == "featured" -%}
        {%- assign score = score | times: site.data.content.fcmm -%}
    {%- elsif candidate.course == nil -%}
        {%- assign score = score | times: site.data.content.tsmm -%}
    {%- endif -%}
    {%- assign score = score | times: score -%}
    {%- assign score = score | divided_by: denom -%}
    {%- assign minscore = scores | last -%}
    {%- if score > minscore -%}
        {%- assign ai = 0 -%}
        {%- assign nsa = '' | split: '' -%}
        {%- assign nss = '' | split: '' -%}
        {%- for i in (1..site.data.content.similar_count) -%}
          {%- if scores[ai] >= score -%}
            {%- assign nss = nss | push: scores[ai] -%}
            {%- assign nsa = nsa | push: similars[ai] -%}
            {%- assign ai = ai | plus: 1 -%}
          {%- else -%}
            {%- assign nss = nss | push: score -%}
            {%- assign nsa = nsa | push: candidate -%}
            {%- assign score = -1 -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign scores = nss -%}
        {%- assign similars = nsa -%}
    {%- endif -%}
{%- endfor -%}
<div class="similar_content_footer">
 <p>You may also be interested in:</p>
 <ul>{%- for c in similars -%}
   <li>{%- include simple_content_title.html content=c -%}</li>
 {%- endfor -%}
<li><a href="/content/random">Or A Random Item from the Library...</a></li>
</ul>
</div>

