<div class="simple_content">
{% capture foo %}{% include_cached simple_content_title.html content=include.content %}{% endcapture %}{{ foo | strip_newlines }}
<p><em>
  {%- if include.content.status != "rejected" and include.content.course -%}
    {% assign course = site.courses | find: "slug", include.content.course %}
    {%- if course -%}
        Featured in the course, "<a href="{{ course.url }}#{{ include.content.slug }}"><i style="font-style: italic;" class="{{ course.icon }}"></i> {{ course.title }}</a>"
    {%- endif -%}
  {%- endif -%}
</em></p>
</div>
