.content_box {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 13px;
    margin-bottom: 8px;
}

.content_box p {
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 1.2em;
}

.simple_content p {
    margin-left: 1.5em;
}

.tag_desc {
    font-size: 118%;
}

.course .post-header p {
    margin-bottom: 0px;
}

.tag h2 {
    padding-top: 13px;
}
