main.page-content {
    padding: 15px 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn i.fas {
    font-weight: revert;
}

a.btn:visited {
    color: initial;
}

figure figcaption {
    width: 100%;
    text-align: center;
    p.attribution {
        font-size: 90%;
        margin-bottom: 3px;
    }
    p.description {
        font-size: 110%;
    }
}

.site-title {
    @include media-query($on-palm) {
        margin-left: 40px;
        margin-right: -3px;
        text-align: center;
    }
}

.site-content {
    @include media-query($on-palm) {
        padding: 20px 0;
    }
}

.site-header {
    z-index: 2;
}

.social-media-list .svg-icon {
    padding: 0;
    margin-right: 5px;
}

.site-nav {
    @include media-query($on-palm) {
        right: initial;
        left: 11px;
    }
    label[for="nav-trigger"] {
        float: left;
    }
    div.trigger a {
        text-align: left;
    }
}

h5 {
    font-size: 1em;
    font-style: italic;
}

.nomarginbottom {
    margin-bottom: 0px;
}

$new-tab-icon-size: 0.95em;
a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
    vertical-align: super;
    font-size: 65%;
}

a.btn[target="_blank"]:after {
    content: "";
}

%has-inline-content %content-title a[target="_blank"]:after {
    width: 0px;
    display: inline-block;
}

.inline_content_title {
  @extend %content-title;
}

.simple_content_title {
  @extend %content-title;
}

.content_title {
  @extend %has-inline-content;
}

%has-inline-content {
    padding-right: $new-tab-icon-size;
}

.inline_content {
  @extend %has-inline-content;
}

.content_box_header {
  @extend %has-inline-content;
}

.simple_content {
  @extend %has-inline-content;
}

%has-inline-content span.inline_drive_links {
    margin-left: $new-tab-icon-size;
}

%has-inline-content span.inline_drive_links span.inline_drive_link {
    margin-right: -$new-tab-icon-size;
    margin-left: $new-tab-icon-size;
}

%has-inline-content span.inline_drive_links span.inline_drive_link:first-child {
    margin-left: 0px;
}

div.content_box blockquote {
    @include relative-font-size(1.0625);
}

span.inline_drive_link {
    white-space: nowrap;
}

footer a.u-email {
    overflow-wrap: break-word;
}

.content_box {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 13px;
    margin-bottom: 16px;
}

.simple_content {
    padding: 0px 9px;
}

.content_box div.content_box_desc {
    margin: 8px 1.2em 3px;
}

.content_box div.content_box_desc p,blockquote:last-child {
    margin-bottom: 0px;
}

.content_box div.course_link {
    margin: 7px 2px 2px 7px;
}

.simple_content p {
    margin-left: 1.5em;
}

.narrow {
    max-width: 40em;
}

div.author-list h3 {
    margin-bottom: 0px;
}

div.author-list ul.author-sublist {
    margin-top: 0px;
}

.catcounts {
    font-size: 12px;
    padding: 0px 25px;
}

.epigraph {
    margin: $spacing-unit auto;
    text-align: center;
    width: fit-content;
    max-width: 25em;
}

.epigraph blockquote {
    padding: $spacing-unit/2 $spacing-unit;
    border: 4px solid $grey-color-light;
}

.continuecourse {
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 3px 80px;
    text-align: center;
}

div.nextcoursedesc {
    margin: 10px 15px 25px;
}

a.nextcourselink {
    font-size: 110%;
}

a.nextcourselink strong {
    font-weight: 400;
    margin-left: 0.2em;
}

header.post-header h3.translator {
    font-style: italic;
}

article.course {
    padding-top: 15px;
}

article.course .post-header p {
    margin-bottom: 0px;
}

article.tag .tag_desc {
    font-size: 118%;
    margin-top: 20px;
}

article.tag .tag_desc p {
    margin-bottom: 6px;
}

article.tag .subtopics {
    font-size: 105%;
}

article.tag div.tagged_content {
    margin-bottom: 23px;
    font-size: 105%;
}

article.content-perma .content_links .source {
    position: relative;
    top: 2px;
}

article.content-perma .content_links .btn {
    padding: 4px 12px 8px;
}

article.content-perma h1.post-title {
    font-size: 39px;

    @include media-query($on-laptop) {
        font-size: 32px;
    }

    @include media-query($on-palm) {
        font-size: 26px;
    }
}

article.content-perma .post-subtitle {
    margin-top: -15px;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 6px;
    @media screen and (min-width: 675px) {
        font-size: 27px;
    }
    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
}

article.content-perma h2 {
    font-size: 20px;
}

article.content-perma .star_desc {
    font-size: 15px;
}

details.bibtex .highlight {
    margin-bottom: 0px;
}

div.content_rating {
    padding-bottom: 14px;
    margin-top: 5px;
}

div.content_rating div.star_rating {
    font-size: 110%;
}

div.featured_content_list ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-left: 5px;
}

div.featured_content_list li {
    width: 20em;
    padding: 17px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 9px;
}

div.featured_content_list .content_title {
    font-size: 105%;
    font-weight: 500;
    padding-bottom: 15px;
}

div.featured_content_list .content_desc p {
    margin-bottom: 0px;
}

div.featured_content_list .content_desc blockquote {
    @include relative-font-size(1.0625);
    color: $grey-color-dark;
}

.ordinal-content-list {
    padding-left: 5px;
}

div.similar_content_footer {
    border-top: 1px solid $grey-color;
    padding: 16px 0px;
    margin-top: 26px;
}

// Course List Page
h3.courselink {
    margin-bottom: 0;
}

div.descrow {
    display: flex;
    width: 100%;
    @include media-query($on-palm) {
        display: initial;
    }
}

div.ccredits {
    text-align: center;
    min-width: 40px;
    margin: auto;
    margin-right: 5px;
    @include media-query($on-palm) {
        display: none;
    }
}

div.cdesc {
    font-size: 110%;
    padding: 20px;
    padding-top: 10px;
    margin: auto;
    margin-left: 0px;
    @include media-query($on-palm) {
        font-size: 100%;
        padding: 8px 20px;
    }
}

div.cdesc p {
  margin-bottom: 0px;
}

div.descrow div.cicon {
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 82px;
    text-align: center;
    margin-left: 16px;
    font-size: 65px;
    @include media-query($on-palm) {
        float: left;
        padding: 0 15px 0 0;
    }
}

div.featuringrow {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    text-align: right;
    @include media-query($on-palm) {
        font-size: 96%;
    }
}

div.featuringrow div {
    padding: 10px;
    @include media-query($on-palm) {
        padding: 5px;
    }
}

div.featuringrow div.bauthors {
    max-width: 77%;
}

div.featuringrow div.flabel {
    margin-left: 25px;
    margin-bottom: auto;
    @include media-query($on-palm) {
        margin-left: 10px;
    }
}

div.featuringrow div.lecturers {
    min-width: 20%;
}

@import
    "frontpage"
;
