.content_box {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 13px;
    margin-bottom: 8px;
}

.content_box p {
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 1.2em;
}

.simple_content p {
    margin-left: 1.5em;
}

.narrow {
    max-width: 40em;
}

.master_tags_list li {
    padding-bottom: 10px;
}

.master_tags_list .tag_link {
    font-size: 105%;
}

article.course .post-header p {
    margin-bottom: 0px;
}

article.tag .tag_desc {
    font-size: 118%;
    margin-top: 20px;
}

article.tag .tag_desc p {
    margin-bottom: 6px;
}

article.tag .subtopics {
    font-size: 105%;
}

article.tag div.tagged_content {
    margin-bottom: 23px;
    font-size: 105%;
}

div.featured_content_list ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-left: 5px;
}

div.featured_content_list li {
    width: 20em;
    padding: 17px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 9px;
}

div.featured_content_list .content_title {
    font-size: 105%;
    font-weight: 500;
    padding-bottom: 15px;
}

div.featured_content_list .content_desc p {
    margin-bottom: 0px;
}

