$on-palm: 700px;
$plum: #74226c;
$banner-color: #c69c6c;
$text-color: #1d1e2c;
$teal: #43aabb;
$blue: #3e78b2;
$brand-color: $blue;
$green-highlighter: #dbff76;
$deep-red: #bb342f;
$danger-color: #d33f49;
$lylac: #c8b8db;
$dark-green: #3c6e71;

$readable-font-family: "Cardo", "Noto Serif TC", serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-size: 16px;


