$on-palm: 740px;

// $banner-color: #9B6022;
$banner-color: #5E2417;
$text-color: #070707;
$blue: #0A51C2;
$plum: #9530A3;
$danger-color: $banner-color;
$brand-color: $blue;


$ui-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$google-fonts: "EB Garamond", "Noto Serif TC", "Noto Serif JP";
$base-font-family: $google-fonts, $ui-font-family;
$readable-font-family: $google-fonts, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-size: 17px;

$spacing-unit: 16px;

//////
// Imported from Minima v2.5.1
/////

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

