$on-palm: 700px;
$plum: #74226c;
$banner-color: #c69c6c;
$text-color: #1d1e2c;
$teal: #43aabb;
$blue: #3e78b2;
$brand-color: $blue;
$green-highlighter: #dbff76;
$deep-red: #bb342f;
$danger-color: #d33f49;
$lylac: #c8b8db;
$dark-green: #3c6e71;

$ui-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$google-fonts: "EB Garamond", "Noto Serif TC";
$base-font-family: $google-fonts, $ui-font-family;
$readable-font-family: $google-fonts, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-size: 17px;

$spacing-unit: 16px;

