---
---

@import "support";

article.content-perma {
    @media (min-width: 475px) {
        header:has(img) {
            display: flex;
            column-gap: 1rem;
        }
    }
    .content-information {
        margin: auto;
        padding-top: 0.1lh;
    }
}

article.content-perma .post-content {
    display: block;
}

article.content-perma h1.post-title {
    font-size: 39px;
    margin-bottom: 4px;

    @include media-query($on-laptop) {
        font-size: 32px;
    }

    @include media-query($on-palm) {
        font-size: 26px;
    }
}

article.content-perma .post-subtitle {
    font-size: 22px;
    padding: 2px;
    letter-spacing: 0;
    @media screen and (min-width: 675px) {
        font-size: 27px;
    }
    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
}

article.content-perma h2 {
    font-size: 20px;
    margin-bottom: 7px;
}

article.content-perma .pub_desc {
    font-size: 105%;
}

#metadata {
    font-size: 89%;
    margin-top: 18px;
    td:nth-child(2)>span {
        font-family: system-ui, sans;
    }
}

details.bibtex .highlight {
    margin-bottom: 0px;
}

div.content_rating {
    padding-bottom: 14px;
}

div.content_rating div.star_rating {
    font-size: 110%;
}

p.star_desc {
    text-wrap: wrap;
}

div.post-content {
    font-size: 18px;
    @include media-query($on-palm) {
        font-size: 17px;
    }
    blockquote {
        p:before {
            content: "“";
            font-size: 150%;
            line-height: 75%;
        }
        > :last-child:after {
            content: "”";
            font-size: 150%;
            line-height: 75%;
        }
    }
}

article.content-perma iframe {
    margin-bottom: 20px;
}

article.content-perma header img {
    @media (max-width: 474.9px) {
        margin-bottom: 7px;
        margin-left: 0;
    }
    border: 1px solid $grey-color-light;
    @extend %olcoverimg;
}

div.download-info {
    display: flex;
    align-items: center;
}

div.content_links {
    padding: 8px;
    border-radius: 8px;
    background-color: $banner-color;
    color: white;

    div.the-links {
        place-content: space-evenly;
    }
}

.content_size {
  padding-left: 0.5em;
}

.content_links .source {
    position: relative;
    top: 2px;
}

.content_links .copyright {
    summary {
        width: fit-content;
        padding-right: 20px;
    }
    i.fa-question-circle {
        padding-left: 13px;
    }
    div {
        padding: 5px;
        border-radius: 3px;
        font-size: 96%;
    }
}

div.similar_content_footer {
    border-top: 1px solid $grey-color;
    padding: 16px 0px;
    margin-top: 26px;
    ul {
        list-style: none;
        margin-left: 1px;
        li {
            padding-top: 3px;
            padding-bottom: 8px;
        }
    }
}


