---
---

@import "support";

article.course {
    padding-top: 15px;
    div.frontmatter {
        font-size: 85%;
        padding: 40px 6px 20px;
    }
    h2#further-reading {
        margin-bottom: -6px;
    }
}

article.course .post-header p {
    margin-bottom: 0px;
}

.epigraph {
    margin: 20px auto 32px;
    text-align: center;
    width: fit-content;
    max-width: 25em;
}

.epigraph blockquote {
    padding: $spacing-unit/2 $spacing-unit;
    border: 4px solid $grey-color-light;
    width: auto;
}

.course-subtitle {
    margin-left: 53px;
    color: $grey-color;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
}

article.course ul li {
    list-style: "∙ ";
}

.continuecourse {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 3px 80px;
    text-align: center;
    a:first-child {
        font-size: 150%;
    }
}

div.nextcoursedesc {
    margin: 2px 16px 16px;
}

a.nextcourselink {
    font-family: $base-font-family;
    font-size: 110%;
}

a.nextcourselink strong {
    font-weight: 400;
    margin-left: 0.2em;
}

