---
---
@import "support";

.tag-list1 img {
    width: 100%;
    overflow: hidden;
    background-color: $banner-color;
}
.tagbox1 {
    font-size: 140%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 1px;
    img {
        height: 125px;
        object-fit: none;
    }
}
.tag-list1 .children1 {
    display: flex;
    padding-bottom: 10px;
    place-content: space-between;
    @include media-query($on-palm) {
        font-size: 90%;
    }
    @include media-query(319px) {
        font-size: 70%;
    }
}
div.tag-list2 {
    padding: 6px 3px;
    width: 34%;
    img {
        height: 125px;
        object-fit: cover;
    }
}
.tagbox2 {
    font-size: 120%;
    border: 1px solid darkgray;
}
.tagbox2,.tag-list3 {
    border-radius: 10px;
    padding: 7px 7px 1px;
}
.tag-list3 {
    font-size: 105%;
    border: 1px solid lightgray;
    margin: 5px;
}
.children3 {
    margin-left: 7px;
    @include media-query(400px) {
        margin-left: 1px;
    }
}
.tagbox4,.tagbox5 {
    margin: 10px 1px 10px 10px;
    @include media-query(400px) {
        margin: 9px 1px;
    }

}
.children4 {
    margin-left: 12px;
    @include media-query(400px) {
        margin-left: 3px;
    }

}

