---
# Only the main Sass file needs front matter
---

// Minima value overrides have to go before minima import
$on-palm: 700px;
$brand-color: #0366d6;
$plum: #74226c;
$banner-color: #c69c6c;
$text-color: #1d1e2c;

$readable-font-family: "Cardo", "Noto Serif TC", serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-size: 16px;

@import "minima";
@import "nimitta";

