---
# Only the main Sass file needs front matter
---

// Minima value overrides have to go before minima import
$on-palm: 700px;

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-family: "Cardo", "Noto Serif TC", serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$readable-font-size: 16px;

@import "minima";
@import "nimitta";

