ipython
pathvalidate
yaspin
tqdm
beautifulsoup4
requests
regex
python-slugify
python-frontmatter
tqdm
bs4
google
google-api-python-client
google_auth_oauthlib
titlecase
pypdf
Mastodon.py
atproto
ebooklib
unidecode
rapidfuzz
