---
layout: coursepart
---
{% assign pslug = page.path | split: "/" | last | split: "." | first %}

<figure>
  <figcaption><p class="description">{{ page.description }}</p></figcaption>
  <img style="max-width:min(640px,100%);max-height:640px;" src="{{ page.image }}" srcset="{% assign image = page.image | replace: '/imgs/', '/derived_imgs/' | replace: '.jpg', '.webp' | replace: '.jpeg', '.webp' | replace: '.png', '.webp' %}{{ image }} {% if page.image_height > page.image_width and page.image_height >= 1536 %}{% if page.image_height < 1920 %}{{ page.image_height | divided_by: 640.0 | round: 3 }}{% else %}3{% endif %}x, {{ image | replace: '.webp', '-2x.webp' }} {% endif %}{% if page.image_width > 640 and page.image_width < 1280 and page.image_height < 1280 %}{{ page.image_width | at_least: page.image_height | divided_by: 640.0 | round: 3 }}{% else %}2{% endif %}x, {{ image | replace: '.webp', '-1x.webp' }}">
  <figcaption><p class="attribution">Photo by {{ page.image_info }}</p></figcaption>
</figure>

{{ content }}

