---
layout: default
---

<article class="content-category">

  <header class="post-header">
    <a href="/content/"><i>Back to</i> all content types</a>
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <a href="/feed/content/{{ page.slug }}.xml"><i class="fas fa-rss-square"></i> RSS Feed</a>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign contents = site.content | where: "category", page.slug | sort: "slug" | reverse | sort: "expected_value", "first" | reverse %}
    <table id="mainContentList">
      <thead>
        <th>Name</th>
        <th>Formats</th>
        <th>Year</th>
        <th>Author(s)</th>
        <th>Featured In...</th>
        <th>Date Added</th>
        <th>Size</th>
        <th><i class="fas fa-cloud-arrow-down"></i><span style="display: none">Downloads</span></th>
      </thead>
      <tbody>
        {% for p in contents %}
          <tr id="{{ p.slug }}">
            <td><a href="{{ p.url }}" target="_blank">{% include_cached content_icon.html category=page.slug subcat=p.subcat %} {{ p.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></td>
            <td>{% include content_filelinks.html content=p newtab=true %}</td>
            <td>{{ p.year }}</td>
            <td>{%- if p.authors.size > 0 -%}
              {% include_cached content_authors_string.html content=p %}
            {%- elsif p.editor -%}
              {% assign editors = p.editor | split: " and " %}
              {% include_cached content_authors_string.html authors=editors %}
            {%- elsif p.reader -%}
              {% assign readers = p.reader | split: " and " %}
              {% include_cached content_authors_string.html authors=readers %}
            {%- elsif p.translator -%}
              {% assign translators = p.translator | split: " and " %}
              {% include_cached content_authors_string.html authors=translators %}
            {%- endif -%}
            </td>
            {%- assign primarytag = false -%}
            {% assign ordinality = 9999 %}
            {% if p.course %}
              {% for candidatecourse in site.courses %}
                {% if p.course == candidatecourse.slug %}
                  {% capture primarytag %}<a href="{{ candidatecourse.url }}">
                    <i class="{{ candidatecourse.icon }}"></i>
                    {{ candidatecourse.title | escape }}
                  </a>{% endcapture %}
                  {% assign ordinality = forloop.index %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% unless primarytag %}
                {% for candidatetag in site.tags %}
                  {% if candidatetag.slug == p.course %}
                    {% capture primarytag %}<a href="{{ candidatetag.url }}">
                      <i class="fas fa-tag"></i>
                      {{ candidatetag.title | escape }}
                    </a>{% endcapture %}
                    {% assign ordinality = forloop.index | plus: site.courses.size %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
            {% endif %}
            {% unless primarytag %}
              {% for candidatetag in site.tags %}
                {% if p.tags contains candidatetag.slug %}
                  {% capture primarytag %}<a href="{{ candidatetag.url }}">
                    <i class="fas fa-tag"></i>
                    {{ candidatetag.title | escape }}
                  </a>{% endcapture %}
                  {% assign ordinality = forloop.index | plus: site.courses.size %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {%- endunless -%}
            <td data-order="{{ ordinality }}">
              {% if primarytag %}
                {{ primarytag }}
              {% endif %}
            </td>
            <td>
              {{ p.date | date: "%Y-%m-%d %H:%M" }}
            </td>
            <td data-order="{{ p.total_mins }}">
              {% if p.page_count %}
                {{ p.page_count }} Pages
              {% elsif p.minutes %}
                {{ p.minutes }} Mins
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% assign plus = 1 %}
              {% unless p.external_url or p.drive_links.size > 0 %}{% assign plus = 0 %}{% endunless %}
              {{ site.data.content_downloads[p.content_path] | default: 0 | plus: plus }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</article>

<link rel="stylesheet" href="/assets/css/datatables{% if jekyll.environment == "production" %}.min{% endif %}.css" />
<style>
  #main {max-width: revert;}
</style>
<script src="/assets/js/datatables{% if jekyll.environment == "production" %}.min{% endif %}.js"></script>
<script>
  const initialwindowwidth = $(window).width();
  const mainContentList = new DataTable("#mainContentList", {
    "order": [], // Don't sort until asked to
    "layout": {
      "topStart": {
          "buttons": ["colvis"]
      },
      "bottomStart": {
        "pageLength": {
          "menu": [10, 25, 50, 100, 250, 500]
        }
      }
    },
    "columnDefs": [
      { "targets": [1], "visible": initialwindowwidth > 550},
      { "targets": [2], "width": "70px", "visible": initialwindowwidth > 475}, 
      { "targets": [4], "visible": initialwindowwidth > 700},
      { "targets": [5], "visible": initialwindowwidth > 790},
      { "targets": [6], "visible": initialwindowwidth > 850},
      { "targets": [7], "visible": initialwindowwidth > 820}
    ]
  });
</script>
