---
layout: default
---
<article class="content-perma">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.authors.size > 0 %}<h2 class="author">
        By {% include content_authors_string.html content=page %}
    </h2>{% endif %}
    {% assign translator = site.authors | where: "slug", page.translator | first %}
    {% if translator %}
    <h3 class="translator">Translated by {{ translator.title }}</h3>
    {% endif %}
    <em>
            </em>
 </header>

  <div class="post-content">
        {{ content }}
  </div>

  <footer><i>
    <p>
    {% if page.year or page.publisher or page.booktitle or page.journal %}
        Published{% if page.year %} {{ page.year }}{% endif %}{% if page.journal %} in {{ page.journal }}{% endif %}{% if page.booktitle %} in {{ page.booktitle }}{% endif %}{% if page.editor %} ({{ page.editor }} ed.){% endif %}{% if page.publisher %} by {{ page.publisher }}{% endif %}{% unless page.external_url or page.drive_links %}.{% endunless %}{% endif %}{% if page.external_url or page.drive_links %}{% if page.year or page.publisher or page.booktitle or page.journal %}, you can f{% else %}F{% endif %}ind
        {% if page.external_url %}it <a href="{{ page.external_url }}">online here</a>{% unless page.drive_links.size > 0 %}.{% endunless %}{% endif %}
        {% if page.drive_links.size > 0 %}
            {% assign format_links = '' | split: '' %}
            {% for link in page.drive_links %}
                {% assign i = forloop.index | minus: 1 %}
                {% capture format_link %}<a href={{ link }}>{{ page.formats[i] }}</a>{% endcapture %}
                {% assign format_links = format_links | push: format_link %}
            {% endfor %}
            {% if page.external_url %}or get {% endif %}the {{ format_links | array_to_sentence_string: "or" }} on <a target="_blank" href="https://drive.google.com/drive/folders/1RJi6bEXa25zizGdsm5evCycYuY6a2D8r">Google Drive</a>.
        {% endif %}
    {% endif %}

    {% if page.source_url %}
        Adapted from <a href="{{ page.source_url }}" target="_blank">this original</a>.
    {% endif %}

    {% assign tagslugs = '' | split: '' %}
    {% if page.course %}
        {% assign tagslugs = tagslugs | push: page.course %}
    {% endif %}
    {% if page.tags.size > 0 %}
        {% assign tagslugs = tagslugs | concat: page.tags %}
    {% endif %}
    {% assign tags = '' | split: '' %}
    {% for t in tagslugs %}
        {% assign tag = site.tags | where: "slug", t | first %}
        {% if tag %}
            {% capture taglink %}<a href="{{ tag.url }}">{{ tag.title }}</a>{% endcapture %}
            {% assign tags = tags | push: taglink %}
        {% endif %}
    {% endfor %}
    {% if tags.size > 0 %}Tags: {{ tags | array_to_sentence_string }}{% endif %}
    </p><p>
    {% if page.course %}
        {% assign course = site.courses | where: "slug", page.course | first %}
        {% if course %}
            Featured in the course "<a href="{{ course.url }}">{{ course.title }}</a>."
        {% endif %}
    {% endif %}
   </p>
  </i></footer>

</article>
