---
layout: default
---
<article class="content-perma">

  <header class="post-header">
    {% assign title = page.title | markdownify | remove: '<p>' | remove: '</p>' | split: ": " %}
    <h1 class="post-title">{{ title | first }}</h1>
    {% if title.size > 1 %}<h2 class="post-subtitle">{{ title | shift | join: ": " }}</h2>{% endif %}
    {% if page.authors.size > 0 %}<h2 class="author">
        By {% include content_authors_string.html content=page hide_reader=true link=true %}
    </h2>{% endif %}
    {% if page.reader %}
    {% assign reader = site.authors | where: "slug", page.reader | first %}
    <h2 class="author">Read by {% if reader %}<a href="{{ reader.url }}">{{ reader.title }}</a>{% else %}{{ page.reader }}{% endif %}</h2>
    {% endif %}
    {% assign translator = site.authors | where: "slug", page.translator | first %}
    {% if translator and page.translator %}
    <h3 class="translator">Translated by <a href="{{ translator.url }}">{{ translator.title }}</a></h3>
    {% endif %}
        <p class="content_links">
        {% if page.external_url or page.drive_links.size > 0 %}
        {% if page.external_url %}Find it <a target="_blank" href="{{ page.external_url }}">online here</a>{% unless page.drive_links.size > 0 or page.source_url %}.{% endunless %}{% endif %}
        {% if page.drive_links.size > 0 %}
            {% assign format_links = '' | split: '' %}
            {% for link in page.drive_links %}
                {% assign i = forloop.index | minus: 1 %}
                {% capture format_link %}<a target="_blank" href={{ link }}>{{ page.formats[i] }}</a>{% endcapture %}
                {% assign format_links = format_links | push: format_link %}
            {% endfor %}
            {% if page.external_url %}or get{% else %}Get{% endif %} the {{ format_links | array_to_sentence_string: "or" }} on <a target="_blank" href="https://drive.google.com/drive/folders/1RJi6bEXa25zizGdsm5evCycYuY6a2D8r">Google Drive</a>{% unless page.source_url %}.{% endunless %}{% endif %}
        {% endif %}
        {% if page.source_url %}
        adapted from <a href="{{ page.source_url }}" target="_blank">this original</a>.
    {% endif %}
        </p>

 </header>
  <div class="post-content">
        {{ content }}
  </div>

  <footer>
    {% if page.series %}{% assign series = site.series | where: "slug", page.series | first %}{% endif %}
    {% if page.journal %}{% assign journal = site.journals | where: "slug", page.journal | first %}{% endif %}
    {% if page.publisher %}{% assign publisher = site.publishers | where: "slug", page.publisher | first %}{% endif %}
    {% if page.year or page.publisher or page.booktitle or page.journal or series %}
        <p><i>Published{% if page.year %} in {{ page.year }}{% endif %}{% if page.journal %} in {% if journal %}<a href="{{ journal.url }}">{{ journal.title }}</a>{% else %}{{ page.journal }}{% endif %}{% endif %}{% if page.booktitle %} in “{{ page.booktitle }}”{% endif %}{% if page.editor %} ({{ page.editor }} ed.){% endif %}{% if page.publisher %} by {% if publisher %}<a href="{{ publisher.url }}">{{ publisher.title }}</a>{% else %}{{ page.publisher }}{% endif %}{% if page.address or publisher.address %}, {{ page.address | default: publisher.address }}{% endif %}{% endif %}{% if series %} as <a href="{{ series.url }}">{{ series.title }}</a>{% if page.number %} number {{ page.number }}{% endif %}{% endif %}.</i></p>
    {% endif %}

    {% assign tagslugs = '' | split: '' %}
    {% if page.course %}
        {% assign tagslugs = tagslugs | push: page.course %}
    {% endif %}
    {% if page.tags.size > 0 %}
        {% assign tagslugs = tagslugs | concat: page.tags %}
    {% endif %}
    {% assign tags = '' | split: '' %}
    {% for t in tagslugs %}
        {% assign tag = site.tags | where: "slug", t | first %}
        {% if tag %}
            {% capture taglink %}<a href="{{ tag.url }}">{{ tag.title }}</a>{% endcapture %}
            {% assign tags = tags | push: taglink %}
        {% endif %}
    {% endfor %}

    {% if tags.size > 0 %}<p class="content_tags">Tags: {{ tags | array_to_sentence_string }}.
    {% if page.course %}
        {% assign course = site.courses | where: "slug", page.course | first %}
        {% if course %}
            <i>Featured in the course, "<a href="{{ course.url }}">{{ course.title }}</a>."</i>
        {% endif %}
    {% endif %}
    </p>
    {% endif %} 
  </footer>

</article>
