---
layout: default
---
{%- comment -%}Establish the fancy content_path slug{%- endcomment -%}
{%- assign len = page.path | size | minus: 12 -%}
{%- assign content_path = page.path | slice: 9, len -%}

{%- comment -%}Populate tags: an array of a-tags linking to the topical tags{%- endcomment -%}
{%- assign tagslugs = '' | split: '' -%}
{%- if page.course -%}
    {%- assign tagslugs = tagslugs | push: page.course -%}
{%- endif -%}
{%- if page.tags.size > 0 -%}
    {%- assign tagslugs = tagslugs | concat: page.tags -%}
{%- endif -%}
{%- assign tags = '' | split: '' -%}
{%- for t in tagslugs -%}
    {%- assign tag = site.tags | where: "slug", t | first -%}
    {%- if tag -%}
        {%- capture taglink -%}<a class="TagLabel" href="{{ tag.url }}"><i class="fas fa-tag"></i> {{ tag.title }}</a>{%- endcapture -%}
        {%- assign tags = tags | push: taglink -%}
    {%- endif -%}
{%- endfor -%}
{%- if tags.size == 0 -%}{%- assign tags = nil -%}{%- endif -%}

{%- comment -%}Calculate star rating and find featured_post{%- endcomment -%}
{%- assign stars = nil -%}
{%- assign featured_post = nil -%}
{%- if page.status == 'rejected' -%}{%- assign stars = 1 -%}{%- else -%}
    {%- unless page.course -%}{%- assign stars = 2 -%}{%- endunless -%}
{%- endif -%}
{%- unless stars -%}
    {%- if page.status == 'featured' -%}
        {%- assign stars = 4 -%}
        {%- if page.external_url or page.file_links or page.drive_links -%}
            {%- for p in site.posts -%}
                {%- if p.content contains page.slug -%}
                    {%- assign stars = 5 -%}
                    {%- assign featured_post = p -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- else -%}
        {%- assign stars = 3 -%}
    {%- endif -%}
{%- endunless -%}

{%- assign category = site.categories | where: "slug", page.category | first -%}

<article class="content-perma">

  <header class="post-header">
    <div class="back"><a href="/content/">Content</a> / <a href="/content/{{ page.category }}/">{{ category.title }}</a> /</div>
    {% assign title = page.title | markdownify | remove: '<p>' | remove: '</p>' | split: ": " %}
    <h1 class="post-title">{% include content_icon.html category=page.category %} {{ title | first }}</h1>
    {% if title.size > 1 %}<h2 class="post-subtitle">{{ title | shift | join: ": " }}</h2>{% endif %}
    {% if page.authors.size > 0 %}<h2 class="author">
        By {% include content_authors_string.html content=page hide_reader=true link=true %}
    </h2>{% endif %}
    {% if page.reader %}
    {% if page.reader contains " " %}{% assign reader = nil %}{% else %}{% assign reader = site.authors | where: "slug", page.reader | first %}{% endif %}
    <h2 class="author">Read by {% if reader %}<a href="{{ reader.url }}">{{ reader.title }}</a>{% else %}{{ page.reader }}{% endif %}</h2>
    {% endif %}
    {% unless page.reader or page.authors.size > 0 %}<div class="mb-3"></div>{% endunless %}

    {% unless stars == 3 %}<div class="content_rating">
        <details class="details-reset">
            <summary class="RatingLabel-{{ stars }}">{% include starlabel.html stars=stars %}</summary>
            <div class="RatingDetails">{% if stars == 1 %}
                This work is no longer recommended{% if page.reason %}, because: <code>{{ page.reason }}</code>{% endif %} Look below for possible alternatives.
                {% elsif stars == 2 %}This work is only recommended for those with a special interest.
                {% elsif stars == 5 %}One of the best works in the library, &quot;{{ title | first | strip }}&quot; was featured in the <a href="{{ featured_post.url }}">{{ featured_post.date | date: "%B %Y" }} newsletter</a> and is highly recommended for all.{% else %}
                This is a piece of exceptional quality, recommended for everyone.
            {% endif %}</div>
        </details>
    </div>{% endunless %}
    {% include content_filelinks.html content=page %}
 </header>
  <div class="post-content">
        {{ content }}
  </div>

  <footer>
    {% if page.series %}{% assign series = site.series | where: "slug", page.series | first %}{% endif %}
    {% if page.journal %}{% assign journal = site.journals | where: "slug", page.journal | first %}{% endif %}
    {% if page.publisher %}{% assign publisher = site.publishers | where: "slug", page.publisher | first %}{% endif %}
    {% if page.editor == nil or page.editor contains " " %}{% assign editor = nil %}{% else %}{% assign editor = site.authors | where: "slug", page.editor | first %}{% endif %}
   
   <p class="star_desc">
        {{ tags }}
   </p>
 
    {% if page.course %}
        {% assign course = site.courses | where: "slug", page.course | first %}
        {% if course %}<p class="featured_desc">Featured in the course, "<a href="{{ course.url }}#{{ page.slug }}"><i class="{{ course.icon }}"></i> {{ course.title }}</a>."
        </p>{% endif %}
    {% endif %}
    <p class="pub_desc"><i>
        {%- if page.translator -%}Translated by {% if page.translator contains " " %}{% assign translator = nil %}{% else %}{% assign translator = site.authors | where: "slug", page.translator | first %}{% endif %}{% if translator %}<a href="{{ translator.url }}#translations">{{ translator.title }}</a>{% else %}{{ page.translator }}{% endif %}.{% endif %}
        {% if page.year or page.publisher or page.booktitle or page.journal or series %}Published{% if page.year %} in {{ page.year }}{% endif %}{% if page.journal %} in {% if journal %}<a href="{{ journal.url }}">{{ journal.title }}</a>{% else %}{{ page.journal }}{% endif %}{% endif %}{% if page.booktitle %} in “{{ page.booktitle }}”{% endif %}{% if page.editor %} ({% if editor %}<a href="{{ editor.url }}">{{ editor.title }}</a>{% else %}{{ page.editor | split: " and " | array_to_sentence_string }}{% endif %} ed.){% endif %}{% if page.publisher %} by {% if publisher %}<a href="{{ publisher.url }}">{{ publisher.title }}</a>{% else %}{{ page.publisher }}{% endif %}{% if page.address or publisher.address %}, {{ page.address | default: publisher.address }}{% endif %}{% endif %}{% if series %} {% if page.number %}as{% else %}in{% endif %} <a href="{{ series.url }}">{{ series.title }}</a>{% if page.number %} number {{ page.number }}{% endif %}{% endif %}.{% endif %}
    </i></p>
 
  {% if site.show_bibtex %}
    <details class="details-reset bibtex" ontoggle="deetstoggler();">
      <summary class="btn">Bibtex Data <span class="dropdown-caret"></span></summary>
      <script>function deetstoggler(e) {
        var k = "{{ content_path }}.bibtex.toggled";
        if (!localStorage.getItem(k)) {
          ga('send','event','Bibtex','firstopen','{{ content_path }}');
          localStorage.setItem(k, 1);
        }
      }</script>
      <div>
{% capture bibtex %}{% include content.bibtex stars=stars content=page %}{% endcapture %}
{% capture md %}```tex
{{ bibtex }}```{% endcapture %}{{ md | markdownify }}
      <button ga-on="click" ga-event-category="Bibtex" ga-event-action="copy" ga-event-label="{{ content_path }}" class="btn copybutton" data-clipboard-text="{{ bibtex | replace: '"', "'" }}"><i class="fas fa-copy"></i> Copy to clipboard</button>
      <script src="{{ "/assets/js/clipboard.js" | relative_url }}"></script>
      <script>
var cb = new ClipboardJS('.copybutton');
cb.on('success', function(e){showTooltip(e.trigger,'Copied');});
cb.on('error', function(e){showTooltip(e.trigger,'Error');});

function clearTooltip(){this.setAttribute('class','btn copybutton');this.removeAttribute('aria-label');}
function showTooltip(elem,msg){elem.setAttribute('class','btn copybutton tooltipped tooltipped-n');elem.setAttribute('aria-label',msg); setTimeout(clearTooltip.bind(elem), 4000);}
      </script>
      </div>
    </details>{% endif %}
  {% if site.show_similars %}{% include similar_content_footer.html category=category content=page %}{% endif %}
  </footer>

</article>
