---
layout: default
---
<article class="course">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% assign tag = site.tags | where: "slug", page.slug | first %}
    {% if page.google_doc_id %}
        <i>This course is also available <a href="https://docs.google.com/document/d/{{ page.google_doc_id  }}/edit?usp=sharing">as a Google Doc</a></i>
    {% endif %}
  </header>
  {% capture toccontent %}
    {{ content }}

    <div class="feedback">
        <h2 id="Feedback">Feedback</h2>
        <p>
            Congratulations on finishing the course!
        </p><p>
            Please take a moment to take
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSepNkP2avoYW2wVFFV8p2aCcA1Jy90dstuPwN3x62Ns00CS3Q/viewform?usp=pp_url&entry.893674714={{ page.feedback_id }}" ga-event-value="0.01" target="_blank">the end of class survey</a>.
            Your feedback is vital to making these courses good. Thank you!
        </p>
    </div>

    <h2>Further Reading</h2>
    {% assign all_content = site.content | where_exp: "c", "c.status != 'rejected'" %}
    {% for ncslug in page.next_courses %}
      {% assign course = site.courses | where: "slug", ncslug | first %}
      {% if course %}
        {% unless floobar %}
          <h4 id="further-courses">Courses</h4>
          {% assign floobar = "already" %}
        {% endunless %}
        <a href="{{ course.url }}"><i class="{{ course.icon }}"></i><strong>{{ course.title }}</strong></a>
        <ul><li>{{ page.next_course_descs[forloop.index0] }}</li></ul>
        {% assign all_content = all_content | where_exp: "c", "c.course != ncslug" %}
      {% endif %}
    {% endfor %}
    {% assign categories = site.data.content_categories %}
    {% capture filter_exp %}c.tags contains '{{ page.slug }}'{% endcapture %}
    {% for catslug in categories %}
      {% capture cat_filter %}c.path == "content/{{ catslug }}.md"{% endcapture %}
      {% assign category = site.pages | where_exp: "c", cat_filter | first %}
      {% capture cat_filter %}c.path contains '/{{ catslug }}/'{% endcapture %}
      {% assign cat_content = all_content | where_exp: "c", cat_filter %}
      {% assign tagged_content = cat_content | where_exp: "c", filter_exp %}
      {% if tagged_content.size > 0 %}
        <h4 id="further-{{ catslug }}">{{ category.title }}</h4>
        <div>{% include content_list.html contents=tagged_content orderby="slug" %}</div>
      {% endif %}
    {% endfor %}

    or check out <a href="{% link courses.md %}">our other courses</a> to continue your studies!
  {% endcapture %}
  <h1>Table of Contents</h1> 
  {% include toc.html html=toccontent hmin=2 %}

  <div class="post-content">
    {{ toccontent }}
  </div>

</article>
