---
layout: default
---
<article class="course">

  <header class="post-header{% if page.banner_info %} overlay-into-banner{% endif %}">
    <h1 class="post-title">{% unless page.banner_info %}<i class="{{ page.icon }}"></i> {% endunless %}{{ page.title | escape }}</h1>
    {% if page.subtitle %}<h2 class="post-subtitle">{{ page.subtitle }}</h2>{% endif %}
  </header>
  {% if page.epigraph %}
  <div class="epigraph">{{ page.epigraph | markdownify }}</div>
  {% endif %}
  <div class="frontmatter">Published: {{ page.date | date: "%b %Y" }}{% if page.last_modified_at > page.date %}<br>Updated: {{ page.last_modified_at | date: "%B %-d, %Y" }}{% endif %}</div>
  
 {% capture toccontent %}
    {{ content }}  
    {% include course_footer.html course=page %}
  {% endcapture %}
  <h1>Table of Contents</h1> 
  {% include toc.html id="toc" html=toccontent h_min=2 h_max=3 %}
 
  <div class="post-content">
    {{ toccontent }}
  </div>

</article>
