---
layout: default
---
{% capture f %}c.path contains '_courses/{{ page.slug }}/'{% endcapture %}
{% assign subcourses = site.courses | where_exp: "c", f | sort: "order" %}
<article class="course">

  <header class="post-header {% if page.banner_info %} overlay-into-banner{% endif %}">
    <h1 class="post-title">{% unless page.banner_info %}<i class="{{ page.icon }}"></i> {% endunless %}{{ page.title | escape }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle | default: "An Online Course" }}</h2>
  </header>
  {% if page.epigraph %}
  <div class="epigraph">{{ page.epigraph | markdownify }}</div>
  {% endif %}
  <h2 style="text-align:center;"><i class="{{ page.icon }}"></i></h2>
  {% if site.show_timestamps %}
  <div class="frontmatter">Published: {{ page.date | date: "%b %Y" }}{% assign moddate = site.courses | where: "part_of_course", page.slug | map: "last_modified_at" | push: page.last_modified_at | max %}{% if moddate > page.date %}<br>Modified: {{ moddate | date: "%B %-d, %Y" }}{% endif %}</div>{% endif %}
 
  <h1>Table of Contents</h1> 
  <ul id="toc">
    {% for l in page.toc %}<li><a href="#{{ l[0] }}">{{ l[1] }}</a></li>{% endfor %}
  </ul>
  <div class="post-content">
    {{ content }}
  </div>
  
  {% assign next = subcourses | first %}
  <div class="continuecourse"><a href="{{ next.url }}">Click here to begin the course</a></div>
</article>
