---
layout: default
---
<article class="publisher">

  <header class="post-header">
    <div class="back"><a href="/publishers/">Publishers</a> /</div>
    <h1 class="post-title">{{ page.title | escape }}</h1>
{% if page.external_url %}
{%- comment -%}buggytrack.js uses the fact that these are h3{%- endcomment -%}
<h3><a target="_blank" href="{{ page.external_url }}">Online here</a></h3>
{% endif %}
  </header>

  <div class="post-content">
    {{ content }}

{% assign journals = site.journals | where: "publisher", page.slug %}
{% assign journalslugs = journals | map: "slug" %}
{% if journals.size > 0 %}<h4>Featured Journals</h4>
  {% for journal in journals %}
    <div class="simple_content"><i class="far fa-newspaper"></i> <a href="{{ journal.url }}">{{ journal.title }}</a></div>
  {% endfor %}
{% endif %}
{% assign series = site.series | where: "publisher", page.slug %}
{% assign seriesslugs = series | map: "slug" %}
{% if series.size > 0 %}<h4>Featured Series</h4>
{% include content_list.html contents=series keep_rejects="true" %}
{% endif %}
{% assign allworks = site.content | where: "publisher", page.slug %}
{% assign filtered = '' | split: '' %}
{% for c in allworks %}{% unless seriesslugs contains c.series or journalslugs contains c.journal %}{% assign filtered = filtered | push: c %}{% endunless %}{% endfor %}
{% if filtered.size > 0 %}<h4>Featured Publications:</h4>
{% include content_list.html contents=filtered %}
{% endif %}
  </div>

</article>

