---
layout: default
---


<article class="series">

  <header class="post-header">
    <div class="back"><a href="/series/">Series</a> /</div>
    {% assign title = page.title | markdownify | remove: '<p>' | remove: '</p>' | split: ": " %}
    <h1 class="post-title">{{ title[0] }}{% if title[1] %}<span style="color:transparent">: </span><br /><span style="font-size:85%">{{ title[1] }}</span>{% endif %}</h1>
{% if page.authors.size > 0 %}<h2 class="author">By {% include_cached content_authors_string.html content=page hide_reader=true link=true %}</h2>{% endif %}
{% if page.external_url %}
<h3>Get the whole series <a target="_blank" ga-event-value="0.3" href="{{ page.external_url }}">online here</a>.</h3>
{% endif %}
  </header>

  <div class="post-content">
{{ content }}

<h4>In the library:</h4>
{% assign series = site.content | where: "series", page.slug %}
{% include numbered_content_list.html contents=series %}

{% assign tags = '' | split: '' %}
{% for t in page.tags %}
  {% assign tag = site.tags | find: "slug", t %}
  {% if tag %}
    {% capture taglink %}<a href="{{ tag.url }}">{{ tag.title }}</a>{% endcapture %}
    {% assign tags = tags | push: taglink %}
  {% endif %}
{% endfor %}
{% if tags.size > 0 %}<p class="content_tags">Tags: {{ tags | array_to_sentence_string }}.</p>{% endif %}
  </div>

</article>


