---
layout: default
---

<article class="tag">                                                                                                
  <header class="post-header">
{% assign parents = '' | split: '' %}
{% for pslug in page.parents %}
    {% assign parent = site.tags | where: "slug", pslug | first %}
    {% unless parent %}{% continue %}{% endunless %}
    {% capture plink %}<a href="{{ parent.url }}">{{ parent.title }}</a>{% endcapture %}
    {% assign parents = parents | push: plink %}
{% endfor %}
{% capture backlink %}
{% if parents.size > 0 %}
<em class="back">Supertopic{% if parents.size > 1 %}s{% endif %}: {{ parents | array_to_sentence_string }}</em>
{% else %}
<em class="back">Back: <a href="{% link tags.md %}">Topic Index</a></em>
{% endif %}
{% endcapture %}{{ backlink }}

<h1 class="post-title">{{ page.title | escape }}</h1>
    
{% assign course = site.courses | where: "slug", page.slug | first %}
{% if course %}
<p><em>For a more structured walkthrough of this content, see the <a href="{{ course.url }}">course</a>.</em></p>
{% endif %}
    
<div class="tag_desc">{{ content }}</div>

{% capture cfilter %}t.parents contains "{{ page.slug }}"{% endcapture %}
{% assign childtags = site.tags | where_exp: "t", cfilter | sort: "title" %}
{% assign children = '' | split: '' %}
{% for child in childtags %}
    {% capture clink %}<a href="{{ child.url }}">{{ child.title }}</a>{% endcapture %}
    {% assign children = children | push: clink %}
{% endfor %}
{% for course in site.courses %}
    {% if course.tags contains page.slug %}
        {% capture clink %}<i><a href="{{ course.url }}">{{ course.title }}</a> (Course)</i>{% endcapture %}
        {% assign children = children | push: clink %}
    {% endif %}
{% endfor %}
{% if children.size > 0 %}
{% capture subtopics %}<div class="subtopics">Subtopic{% if children.size > 1 %}s{% endif %}: {% if children.size <= 1 %}{{ children | first }}{% else %}<ul>
{% for child in children %}
    <li>{{ child }}</li>
{% endfor %}</ul>{% endif %}
</div>{% endcapture %}{{ subtopics }}
{% endif %}
  </header>

  <div class="post-content">
{% capture content_list %}
{% assign all_content = site.content | where_exp: "c", "c.status != 'rejected'" %}
{% assign categories = site.data.content_categories %}
{% if page.is_canon %}
  {% assign categories = categories | where_exp: "c", "c != 'canon'" | push: "canon" %}
{% endif %}
{% capture filter_exp %}c.tags contains '{{ page.slug }}'{% endcapture %}
{% for catslug in categories %}
  {% assign category = site.categories | where: "slug", catslug | first %}
  {% assign cat_content = all_content | where: "category", catslug %}
  {% assign course_content = cat_content | where: "course", page.slug %}
  {% assign tag_content = cat_content | where_exp: "c", filter_exp | sort: "slug" %}
  {% assign series_content = site.series | where: "category", catslug | where_exp: "c", filter_exp %}
  {% assign tag_content = tag_content | concat: series_content %}
  {% assign count = course_content.size | plus: tag_content.size %}
  {% if count > 0 %}
  <h3 id="{{ catslug }}">{% if page.is_canon and catslug == "canon" %}In the Library{% else %}{{ category.title }}{% endif %} ({{ count }})</h3>
  {% if course_content.size > 0 %}
    {% include featured_content_list.html contents=course_content %}
  {% endif %}{% if tag_content.size > 0 %}
  <div class="tagged_content">
  {% for c in tag_content %}
    <div class="mb-3 inline_content">{% capture foo %}{% include simple_content_title.html content=c %}{% endcapture %}{{ foo | strip_newlines }}</div>
  {% endfor %}
  </div>
  {% endif %}<p class="back"><a href="#top"><em>Back to the top</em>&#x2934;</a></p>{% endif %}
{% endfor %}
{% endcapture %}
   <h2 id="top" class="toc_header">Recommended Works</h2>
    {% include toc.html html=content_list h_min=3 h_max=3 id="toc" class="tag_toc" %}
    {{ content_list }}
  </div>
{{ subtopics }}

{{ backlink }}
</article>

