---
layout: default
---
{%- assign alltags = site.tags -%}
{%- if page.status == 'published' -%}
    {%- assign alltags = alltags | where: "status", "published" -%}
{%- endif -%}

<article class="tag">
  <header class="post-header">
{% assign parents = '' | split: '' %}
{% for pslug in page.parents %}
    {% assign parent = alltags | find: "slug", pslug %}
    {% unless parent %}{% continue %}{% endunless %}
    {% capture plink %}<a href="{{ parent.url }}">{{ parent.title | replace: " ", "&nbsp;" }}</a>{% endcapture %}
    {% assign parents = parents | push: plink %}
{% endfor %}
{% unless page.banner_info %}
<div class="back"><a href="/tags" style="font-size: 130%;">Topical Bibliographies</a>&nbsp;/ {% if parents.size > 0 %}{{ parents | join: ", " }}&nbsp;/ {% endif %}</div>
{% endunless %}
<h1 class="post-title{% if page.banner_info %} overlay-into-banner{% endif %}">{{ page.title | escape }}</h1>
{% assign course = site.courses | find: "slug", page.slug %}
<p>{% if course %}Also available: <a href="{{ course.url }}"><i class="{{ course.icon }}"></i> As a Syllabus</a><br>{% endif %}Subscribe to this topic via: <a href="/feed/content/{{ page.slug }}.xml"><i class="fas fa-rss-square"></i> RSS</a></p>

<div class="{% if course or page.banner_info == nil %}tag_desc{% endif %}">{{ content }}</div>
{% unless page.status == "published" %}{% capture warningtext %} 
## <i class="fas fa-person-digging"></i> Caution! Under Construction

Please be aware that this tag is still under construction and as such is missing information and may be changed or removed at any time.
{% if site.data.drive_folders[page.slug]["public"] contains "http" %}For all the content under consideration for this tag, see <a data-content-path="tags/{{ page.slug }}" data-content-category="tag" data-content-course="{{ page.slug }}" data-content-link-ext="Drive Folder" data-content-title="{{ page.title | smartify | markdownify | strip_html | strip | escape }}" data-content-value="{{ site.data.ga.drive_folder_value }}" href="{{ site.data.drive_folders[page.slug]["public"] }}">the "{{ page.title }}" folder on Google Drive</a>.{% else %}Please pardon our dust as you peruse this incomplete bibliography.{% endif %}
{% endcapture %}{% include toast.html type="warning" content=warningtext %}{% endunless %}
{% if page.illustration %}
<figure>
    <img {% if page.use_sirv %}src="{{ page.illustration }}"{% else %}srcset="https://buddhistuniversity.net/big_imgs/tags/{% assign ill = page.illustration | split: "/" | last | split: "." | pop | join: "." %}{{ ill }}-1x.webp, https://buddhistuniversity.net/big_imgs/tags/{{ ill }}.webp 2x" src="{{ page.illustration | replace: "https://illeakyw.sirv.com/Images/", "https://buddhistuniversity.net/imgs/tags/" }}"{% endif %}{% if page.illustration_height %}{% assign h = page.illustration_height | divided_by: 2.0 %}{% if h > 550 %}{% assign h = 550 %}{% endif %} style="{% assign illustrationformat = page.illustration | split: "." | last %}{% unless illustrationformat == 'gif' or illustrationformat == 'GIF' %}height: {{ h }}px; {% endunless %}background-color: lightgrey; object-fit: cover; object-position: {{ page.illustration_center_x | default: "50%" }} {{ page.illustration_center_y | default: "50%"}};{% endif %}">
    <figcaption>
        <p class="attribution">{% assign a = page.illustration_caption %}{% unless a %}{% assign a = "Courtesy of " | append: page.illustration_info %}{% endunless %}{{ a | replace: ' href="http', ' target="_blank" href="http' }}</p>
    </figcaption>
</figure>
{% endif %}

{% capture cfilter %}t.parents contains "{{ page.slug }}"{% endcapture %}
{% assign childtags = alltags | where_exp: "t", cfilter %}
{% assign children = '' | split: '' %}
{% for child in childtags %}
  {% if child.illustration %}
    {% capture clink %}<a href="{{ child.url }}"><div class="subtopic-card">{% include taglist-img.html tag=child %} <span class="subtopic-img-label">{{ child.title }} »</span></div></a>{% endcapture %}
  {% else %}
    {% capture clink %}<a href="{{ child.url }}"><i class="fas fa-folder-open"></i> {{ child.title }}</a>{% endcapture %}
  {% endif %}{% assign children = children | push: clink %}
{% endfor %}
{% if page.status == "published" %}
  {% assign childtags = site.tags | where_exp: "t", cfilter | where: "status", "unpublished" %}
  {% for child in childtags %}
    {% if site.data.drive_folders[child.slug].public contains "https://" %}
      {% capture clink %}<a data-content-path="tags/{{child.slug}}" data-content-category="tag" data-content-course="{{child.slug}}" data-content-link-ext="Drive Folder" data-content-title="{{ child.title | smartify | markdownify | strip_html | strip }}" data-content-value="{{ site.data.ga.drive_folder_value }}" href="{{ site.data.drive_folders[child.slug].public }}"><i class="fab fa-google-drive"></i> {{ child.title }}</a>{% endcapture %}
      {% assign children = children | push: clink %}
    {% endif %}
  {% endfor %}
{% endif %}
{% for course in site.courses %}
    {% if course.tags contains page.slug %}
        {% capture clink %}<i><a href="{{ course.url }}"><i class="{{ course.icon }}"></i> {{ course.title }}</a> (Course)</i>{% endcapture %}
        {% assign children = children | push: clink %}
    {% endif %}
{% endfor %}
  </header>

  <div class="post-content">
{% capture content_list %}
{% assign all_content = site.content | where_exp: "c", "c.status != 'rejected'" %}
{% assign categories = site.data.content_categories %}
{% if page.is_canon %}
  {% assign categories = categories | where_exp: "c", "c != 'canon'" | push: "canon" %}
{% endif %}
{% if page.is_reference %}
  {% assign categories = categories | where_exp: "c", "c != 'reference'" | unshift: "reference" %}
{% endif %}
{% capture filter_exp %}c.tags contains '{{ page.slug }}'{% endcapture %}
{% assign all_series = site.series | where_exp: "c", filter_exp | sort: "title" %}
{% assign all_course_content = all_content | where: "course", page.slug %}
{% assign all_tag_content = all_content | where_exp: "c", filter_exp %}
{% for catentry in categories %}
  {% assign category = site.categories | where: "slug", catentry %}
  {% if category.size == 1 %}
    {% assign category = category | first %}
    {% assign catslug = catentry %}
    {% assign course_content = all_course_content | where: "category", catslug %}
    {% assign tag_content = all_tag_content | where: "category", catslug %}
    {% assign series_content = all_series | where: "category", catslug %}
  {% else %}
    {% assign catslug = catentry.title | slugify %}
    {% assign category = catentry %}
    {% assign course_content = '' | split: '' %}
    {% assign tag_content = '' | split: '' %}
    {% assign series_content = '' | split: '' %}
    {% for catsub in category.subs %}
      {% assign tag_content = all_tag_content | where: "category", catsub | concat: tag_content %}
      {% assign course_content = all_course_content | where: "category", catsub | concat: course_content %}
      {% assign series_content = all_series | where: "category", catsub | concat: series_content %}
    {% endfor %}
  {% endif %}
  {% assign tag_content = tag_content | sort: "slug" | reverse | sort: "expected_value" | reverse | concat: series_content %}
  {% assign count = course_content.size | plus: tag_content.size %}
  {% if count > 0 %}
  <h3 id="{{ catslug }}">{% if page.is_canon and catslug == "canon" %}In the Library{% assign tag_content = tag_content | sort: "slug" %}{% else %}{{ category.title }}{% endif %} ({{ count }})</h3>
  {% if course_content.size > 0 %}
    {% if tag_content.size > 0 %}<p>Featured:</p>{% endif %}
    {% include featured_content_list.html contents=course_content %}
  {% endif %}{% if tag_content.size > 0 %}
  {% if course_content.size > 0 %}<p>See also:</p>{% endif %}<div class="tagged_content">
  {% for c in tag_content %}
    <div class="mb-3 inline_content">{% case c.stars %}{% when 5 %}<i class="fas fa-medal"></i>{% when 4 %}<i class="fas fa-star"></i>{% endcase %}{% capture foo %}{% include simple_content_title.html content=c %}{% endcapture %}{{ foo | strip_newlines }}</div>
  {% endfor %}
  </div>
  {% endif %}<p class="back"><a href="#top"><em>Back to the top</em>&#x2934;</a></p>{% endif %}
{% endfor %}

<div class="subtopics"><h3 id="topics">Related Topics ({{ parents.size | plus: children.size }})</h3>
{% if parents.size > 0 %}
<h4 id="parents">Supertopic{% if parents.size > 1 %}s ({{ parents.size }}){% endif %}</h4>
{% assign unillustrated = "" | split: "" %}
<ul>{% for pslug in page.parents %}
  {% assign parent = alltags | find: "slug", pslug %}{% unless parent %}{% continue %}{% endunless %}
  {% if parent.illustration %}
    <li><a href="{{ parent.url }}"><div class="subtopic-card">{% include taglist-img.html tag=parent %} <span class="subtopic-img-label">{{ parent.title }} »</span></div></a></li>
  {% else %}
    {% capture clink %}<li><a href="{{ parent.url }}"><i class="fas fa-folder-open"></i> {{ parent.title }}</a></li>{% endcapture %}
    {% assign unillustrated = unillustrated | push: clink %}
  {% endif %}
{% endfor %}{% for clink in unillustrated %}{{ clink }}{% endfor %}</ul>
{% endif %}{% if children.size > 0 %}
<h4 id="children">Subtopics ({{ children.size }})</h4>
<ul>{% for child in children %}
    <li>{{ child }}</li>
{% endfor %}</ul>{% endif %}
</div>
{% endcapture %}
   <h2 id="top" class="toc_header">Table of Contents</h2>
    {% include toc.html html=content_list h_min=3 h_max=3 id="toc" class="tag_toc" %}
    {{ content_list }}
  </div>
<em class="back">Back to <a href="/tags">the Topic Index</a></em>
</article>

