name: External Links
on:
    workflow_dispatch:
    schedule:
        - cron: "40 00 24 * *"
jobs:
  Links:
    runs-on: ubuntu-latest
    steps:
        - name: Get the Code
          uses: actions/checkout@v2
        - name: Rename .md files to .txt
          run: |
            cd $GITHUB_WORKSPACE
            sudo apt-get install -y rename
            find . -name "*.md" -exec rename 's/\.md$/.txt/' {} +
        - name: Lychee Link Checker
          id: lychee
          uses: lycheeverse/lychee-action@v1.0.8
          with:
            args: --exclude-link-local --exclude=illeakyw.sirv.com --exclude=googleapis.com --exclude=fontawesome.com --exclude=google.com --exclude=accesstoinsight.org --exclude=suttacentral.net --exclude=github.com --exclude=openlibrary.org --exclude=twitter.com --exclude=google-analytics.com --exclude=worldcat.org --exclude=tinyletter.com --exclude=schema.org --exclude=wikimedia.org --exclude-mail --verbose --no-progress **/*.txt
        - name: Create Issue
          if: ${{ steps.lychee.outputs.exit_code > 0 }}
          uses: peter-evans/create-issue-from-file@v2
          with:
            title: Monthly Broken Link Report
            content-filepath: ./lychee/out.md

